<nav>
    <section>
        <input type="text"
               placeholder="Enter DVD title here"
               ng-model="searchBox">
        <button id="search">
            <span class="fas fa-search"></span>
        </button>
    </section>
    <section>
        <md-button ng-click="openTitleDialog()">
            <md-icon md-font-set="material-icons">add</md-icon>
            <span>Add New Title</span>
        </md-button>
        <md-button ng-click="openCustomerDialog()">
            <md-icon md-font-set="material-icons">add</md-icon>
            <span>Add New Customer</span>
        </md-button>
    </section>
</nav>
<ng-view></ng-view>
<script src="/js/index.js"></script>

